# Dependencies
/node_modules

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production/build folders
/build
/dist

# Logs
logs
*.log

# OS-specific
.DS_Store